.chart-container {
    pointer-events: auto;
    border-color: gray; /* Ensure the container allows pointer events like hover */
}
/* Ensuring the canvas fills the container */
canvas {
    width: 100% !important;  /* Make the canvas take the full width of the container */
    height: 100% !important; /* Make the canvas take the full height of the container */
    
}


body {
    background-color: white;
}